/* // src/Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}